<nav class="footer-desktop">
  <div class="footer-links-wrapper">
    <div class="site-footer-logo">
    <a class="footer-access" href="/" tabindex="0"></a>
         <a href="https://data.austintexas.gov" tabindex="0">
        <img class="footer-logo" src="{{ site.baseurl }}/assets/img/logos/city_footer_logo.png" alt="city of austin logo"></a>
  <div class="footer-links">
      <li>
        <a href="https://data.austintexas.gov"> Open Data</a>
      </li>
      <li>
        <a href="https://data.austintexas.gov/browse">Catalog</a>
      </li>
      <li>
        <a href="https://data.austintexas.gov/stories/s/ranj-cccq">Terms of Use</a>
      </li>
  <!---    <li>
        <a href="{{ site.baseurl }}/contact/">Contact Us</a>
      </li>
      <li> --->
        <a href="https://www.austintexas.gov">AustinTexas.gov</a>
      </li>
      <li>
        <a href="https://github.com/cityofaustin/atxopendata.rocks">City of Austin Github</a>
      </li>
        <h2 class="footer-links-heading">© 2016 City of Austin - Rocked with data by the City of Austin open data team. </h2>
  </div>
</div>
</nav>
