<!-- Hotjar Tracking Code for https://atxopendata.rocks -->
<head>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1110148,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<!-- Hotjar Tracking Code for https://atxopendata.rocks -->
<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official usa-grid">
      <p>ATXopendata.rocks is a new website and a work in progress.
        <a href="https://github.com/cityofaustin/atxopendata.rocks"> Learn more</a> about the new website</p>
    </div>
  </div>
  <div class="site-navbar usa-grid">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logos/atx-logo.jpg" alt="atx"
      {% if page.url == '/' %}
        aria-hidden="true"
      {% endif %}
      ></a>
    {% if page.url == '/' %}
      <h1 class="usa-sr-only">Eighteen F: Digital services delivery</h1>
    {% endif %}
    <nav role="navigation">
      {% include navigation.html %}
    </nav>
  </div>
</header>
<div class="overlay"></div>
