<!-- Hotjar Tracking Code for https://atxopendata.rocks -->
<head>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1110148,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131553214-1">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-131553214-1');
</script>
</head>
<!-- Hotjar & Google Analytics Tracking Code for https://atxopendata.rocks -->

<!-- Google Translate
<div class="control-translate end-xs start-sm col-xs">
  <span tabindex="10" aria-label="Translate Menu Control" aria-role="button" aria-controls="google_translate_element" id="drawer-button--translate" aria-pressed="false">Translate</span>

  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,es,ko,my,vi,zh-CN,zh-TW', layout:
    google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
 Google Translate -->

<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official usa-grid">
      <p>ATXopendata.rocks is a new website and a work in progress.
        <a href="https://github.com/cityofaustin/atxopendata.rocks"> Learn more</a> about the new website</p>
    </div>
  </div>
  <div class="site-navbar usa-grid">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logos/atx-logo.jpg" alt="atx"
      {% if page.url == '/' %}
        aria-hidden="true"
      {% endif %}
      ></a>
    {% if page.url == '/' %}
      <h1 class="usa-sr-only">Eighteen F: Digital services delivery</h1>
    {% endif %}
    <nav role="navigation">
      {% include navigation.html %}
    </nav>
  </div>
</header>
<div class="overlay"></div>
