<section class="usa-grid">

<article class="card usa-width-one-third usa-width-tablet">
  <div class="card-link" href="{{ site.baseurl }}/start/" tabindex="-1">

    <div class="card-banner">

        <p class="card-tag"> Dive into the Newbie kit</p>


        <a href="{{ site.baseurl }}/start/" tabindex="-1" class="card-link-tagline"><h3 class="h4">Getting Started With Open Data </h3></a>

      <p class="card-description">Understand how to use the open data portal</p>

    </div>

    <a href="/what-we-deliver/data-act/" class="card-cta link-arrow-right" tabindex="0">
          Read more
          <span class="usa-sr-only">about Implementing a government-wide law</span>
    </a>
  </div>
</article>

<article class="card usa-width-one-third usa-width-tablet">
  <div class="card-link" href="{{ site.baseurl }}/start/" tabindex="-1">

    <div class="card-banner">

        <p class="card-tag"> Dive into the Newbie kit</p>


        <a href="{{ site.baseurl }}/start/" tabindex="-1" class="card-link-tagline"><h3 class="h4">Getting Started With Open Data </h3></a>

      <p class="card-description">Understand how to use the open data portal</p>

    </div>

    <a href="/what-we-deliver/data-act/" class="card-cta link-arrow-right" tabindex="0">
          Read more
          <span class="usa-sr-only">about Implementing a government-wide law</span>
    </a>
  </div>
</article>
<a href="/start/">
<article class="card usa-width-one-third usa-width-tablet">

  <div class="card-link">

    <div class="card-banner">

        <p class="card-tag"> Dive into the Newbie kit</p>


        <a href="{{ site.baseurl }}/start/" tabindex="-1" class="card-link-tagline"><h3 class="h4">Getting Started With Open Data </h3></a>

      <p class="card-description">Understand how to use the open data portal</p>

    </div>

    <a href="/what-we-deliver/data-act/" class="card-cta link-arrow-right" tabindex="0">
          Read more
          <span class="usa-sr-only">about Implementing a government-wide law</span>
    </a>
  </div>
</article>
    </a>
  </section>
