<div class="footer-newsletter">
  <p>Receive updates</p>
  <form action="" method="post" id="contact-form">
    <div class="form-group">
      <label id="newsletter" for="EMAIL">Your email</label>
      <input type="email" id="EMAIL" required="" name="EMAIL">
    </div>
    <div style="position: absolute; left: -5000px;">
      <input type="hidden" name="b_6f1977de9eff4c384dc8d6527_cbc418738b" tabindex="-1" value="">
    </div>
    <input type="submit" class="button" value="Sign up">
  </form>
</div>
