// Hero feature
// ==========================

.hero {
  @include padding($site-margins null);
  background-image: url('../img/home/cityofaustin.jpg');
  background-position: center;
  background-size: cover;
}

.hero-callout {
  background-color: $color-purple;
  padding: 3rem;

  @include media($small-screen) {
    max-width: 300px;
  }

  > *:first-child {
    @include margin(0 null $site-margins null);
  }

  .usa-button {
    font-size: $small-font-size;
    margin-top: 7rem;
    width: 100%;
  }
}

.hero-callout-alt_color {
  color: $color-yellow;
  display: block;
}
